{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Koledarji{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'koledarji/styles/style.css' %}" />
    <script src="{% static 'koledarji/scripts/script.js' %}"></script>
    <script src="{% static 'koledarji/scripts/calendars.js' %}" defer></script>
</head>
<body onload="startTime()">
    <nav class="nav">
        <a href="{% url 'koledarji:index' %}">Začetna stran</a>
        <a href="{% url 'koledarji:calendars' %}">Koledar</a>
        <a href="{% url 'koledarji:register' %}">Registracija</a>
        <a href="{% url 'koledarji:about' %}">O aplikaciji</a>
    </nav>
    <header>
        <div style="float:left">
            <a href="{% url 'koledarji:index' %}">
                <img src="{% static 'koledarji/assets/Logo.png' %}" width="70" height="70" alt="logo" />
            </a>
        </div>
        <div>
            <a href="{% url 'koledarji:index' %}" class="head">Spletni koledar</a>
        </div>
        <div id="time"></div>
    </header>
    <nav>
        <ul class="general">
            <li>
                <a href="{% url 'koledarji:calendars' %}">Koledarji</a>
            </li>

            <li>
                <a href="{% url 'koledarji:register' %}">Registracija</a>
            </li>
            <li>
                <a href="{% url 'koledarji:about' %}">O aplikaciji</a>
            </li>
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
    <footer>
        <p>Jernej Katanec, FRI UL, 2016/2017 ©</p>
    </footer>
</body>
</html>