{% extends 'koledarji/login.html' %}
{% block title %}Koledarji{% endblock %}
{% block login %}
    <div class="description" id="show">
        <h1>Javno dostopni koledarji:</h1>
        <ul>
            {% for calendar in calendars_list %}
                {% if calendar.user.username == 'admin' %}
                <li>
                    <a href="{% url 'koledarji:detail' calendar.id %}">{{ calendar.name }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>Z <a href="/koledarji/registracija/">registracijo</a> dobite vpogled v vse koledarje ter opcijo kreiranja lastnih koledarjev!</p>
    </div>
{% endblock %}

