{% extends 'koledarji/calendar.html' %}

{% block cal_name %}
    Koledar: {{ calendar.name }}
{% endblock %}
{% block cal %}
        {% for event in calendar.event_set.all %}
            <tr>
                <td>{{ event.day }}. {{ event.month }}. {{ event.year }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.start }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.duration }}</td>
            </tr>
        {% endfor %}
{% endblock %}