{% extends 'koledarji/base.html' %}

{% block title %}Spletni koledar{% endblock %}
{% block body %}
    <div class="description">
        <h1>Dobrodošli na spletni strani Spletni koledar!</h1>
        <h2>Kaj stran ponuja?</h2>
        <ul>
            <li style="padding-bottom:10px">Vpogled v najrazličnejše javne koledarje (slovenski prazniki, setveni koledar...)</li>
            <li style="padding-bottom:10px">Kreiranje lastnih koledarjev (rojstni dnevi, urniki, pomembni dogodki...)</li>
            <li>Vpogled v javne koledarje ostalih uporabnikov</li>
            <li>Predloge, kako preživeti prosti čas</li>
        </ul>
        <h2>Kdo se lahko registrira?</h2>
        <p>Spletna aplikacija je primerna za vsakogar, ki želi imeti nadzor nad svojimi dogodki ter urejeno organiziranje svojega časa. Registracija in uporaba je povsem <b>brezplačna!</b></p>
    </div>
{% endblock %}